{% extends 'partials/base.html' %}

{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Permanently Delete Data Recorder</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Name</th>
          <th>Delete</th>

       </tr>
      </thead>
      <tr>



        <td> {{specific_data_entry.get_name}}</td>
    
        <td><a class="btn btn-danger btn-xs" href="{% url 'bip:delete_data_entry' specific_data_entry.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td> 
      </tr>
    </table>
  </div>
</div>
<style media="screen">
  a:link {
    text-decoration: none;
  }


  body {
background: #f4f4f4;
font-family: 'Open Sans', sans-serif;
}
  
  
  .panel-heading {
    background: black !important;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    
  }

  h6 {
    text-align: center;
  }

  .row {
    margin: 100px;
  }

@media (max-width: 768px) {
.container {
 padding: 15px;
}
}
@media (max-width: 768px) {
.chart-row {
 flex-direction: column;
}
.chart-item {
 flex-basis: 100%;
}
}
</style>

{% endblock  %}
