

{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }


    body {
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}
    
    
    .panel-heading {
      background: black !important;
      color: #fff;
      font-weight: bold;
      line-height: 80px;
      
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

@media (max-width: 768px) {
 .container {
   padding: 15px;
 }
}
@media (max-width: 768px) {
 .chart-row {
   flex-direction: column;
 }
 .chart-item {
   flex-basis: 100%;
 }
}
  </style>
</head>

<br><br>

<body>
  <title>EFBA</title>

<div class="container">
  <div class="panel panel-primary">

      <div class="panel-heading"  style="text-align:center;">
        <h3 class="panel-title"> Aprroved Data Recorder</h6>
      </div>
      

      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th> Name</th>
            <th> Status</th>
            <th> Delete</th>



          </tr>
        </thead>
        {% for d in specific_data_entry %}
        <tr>
          {%if d.status == True%}
          <td> {{d.get_name}}</td>

          <td> <h4><span class="label label-primary">Active</span></td>
          <td> <a class="btn btn-danger"  href="{% url 'bip:admin_delete_data_entry' d.id  %}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg></a></h4></td>

         

         
          {% endif %}
          
          {% endfor %}
          
        
         
      
      </table>
      
    </div>

    
  </div>


<div class="container">
  <div class="panel panel-primary">

      <div class="panel-heading"  style="text-align:center;">
        <h3 class="panel-title"> Data Recorder Wait List </h6>
      </div>
      

      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th> Name</th>
            <th> Status</th>
            <th> Aprove</th>
            <th> Reject</th>




          </tr>
        </thead>
        
          {% for x in specific_data_entry %}
          <tr>
           
            {%if x.status == False%}
            <td> {{x.get_name}}</td>
            <td> <span class="label label-success">On Hold</span></td>
            <td><a class="btn btn-primary btn-xs" href="{% url 'bip:admin_data_entry_approve' x.id  %}"><span class="glyphicon glyphicon-ok"></span></a></td>

            <td><a class="btn btn-danger btn-xs" href="{% url 'bip:reject_data_entry' x.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

            {% endif %}

  {% endfor %}
        
         
      
      </table>
      
    </div>

    
  </div>

</body>


{% endblock  %}
