

{% load custom_filters %}

  <nav class="navbar navbar-dark ">
          <div class="navbar navbar-expand-lg fixed-top">
                    {% if user.is_authenticated  %} 
                    <div class="navbar-new">
                    <h1 class="logo"> <a class="colorwhite">EFBA ({{ user.username }})</a></h1> 
                    
          </div>
              <a class='colorwhite' class="nav-item nav-link" href="{% url 'bip:logout' %}"  >Log out</a>
          </div>
                 <div class="navbar-nav ml-auto">
                        {% if user|is_case_manager %}

              <a class="colorwhite" href="{% url 'bip:create_student' %}">Add Case</a>
              <a class="colorwhite" href="{% url 'bip:for_user' username=user.username %}">Case List</a>
                </div>
                {% endif %}
        {% else %}
        <div class="navbar navbar-expand-lg">
          <div class="navbar-new">
          <h1 class="logo"> <a class="colorwhite" href="">EFBA</a></h1> 
</div>
  
</div>

<div class="navbar-nav ml-auto">

        {% endif %} 
        </div> 
</nav>

