{% extends 'partials/base.html' %} 
{% block content %}
{% load crispy_forms_tags %}
<body>
  <title>FBA/EDA</title>

  <div class="container">
    <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:dashboard' student.id %}">Dashboard</a>
 
<div class="container mt-4">
  <h2 class="page-title">Add Individual to Input Data</h2>

  <div class="instruction-card card mb-4">
      <div class="card-body">
          <h5 class="card-title">Directions</h5>
          <p class="card-text">
            To assign an individual to input data, you must create a unique identification for yourself and the case. The person inputting the data will be limited to the Functional Behavior Observation Form only and will not have access to other components of the website, i.e., dashboard, data analysis, and so forth.
          </p>
      </div>
  </div>

  <div class="steps-card card mb-4">
      <div class="card-body">
          <h5 class="card-title">Follow the Steps Below:</h5>
          <ol class="steps-list">
            <li>Click on the following link to create your unique identification: 
              <a href="{% url 'bip:case_manager_unique_identifier' request.user.casemanager.id %}" class="card-link">
                Unique identification ({{ request.user.casemanager.slug }})
              </a>
            </li>
            <li>Click on the following link to create the case's unique identification:
              <a href="{% url 'bip:updateunique_case_identifier' student.id %}" class="card-link">
                Unique identification ({{ student.slug }})
              </a>
            </li>
            <li>Provide the individual who will be inputting the data both unique identifications and the following link:
              <!-- <a href="{% url 'bip:data_entry_signup' %}" class="card-link">Register</a> -->exploratoryfba.com/data_entry_signup/
            </li>
            <li>The individual when regestering will need to create an account and provide the unique identifications to access the case.</li>
            <li>Once provided, check the following link to approve/reject the individual's access to 
              the FBO form: <a href="{% url 'bip:case_manager_dashboard' user.id %}" class="card-link">Confirmation</a>
            </li>
            
          </ol>
      </div>
  </div>
</div>
</body>

<style>

    body {
      font-family: 'Roboto', sans-serif;
      background-color: #f0f0f0; /* Updated to gray background */
      color: #505050;
      line-height: 1.6;
    }
    
    .container {
      max-width: 1000px;
      margin: auto;
      padding: 15px;
    }
    
    .page-title {
      color: #0056b3;
      text-align: center;
      margin-bottom: 20px;
    }
    
    .card {
    
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .card-title {
      color: #007bff;
    }
    
    .card-text, .steps-list {
      color: #333;
      line-height: 1.6;
    }
    
    .card-link {
      color: #28a745;
    }
    
    .card-link:hover {
      text-decoration: underline;
    }
    
    .steps-list {
      padding-left: 20px;
    }
    .btn-outline-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .chart-row {
      flex-direction: column;
    }
    .chart-item {
      flex-basis: 100%;
    }
  }
    </style>
{% endblock %}
