

{% extends 'partials/base.html' %} 
{% block content %}
<br>



<body>
  <div class="container text-center">
<div class="container">
  <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:dashboard' student.id %}">Dashboard</a>
  <br/>


  <div class='container'>
    {% if beh_count_graph %}
    <img src="data:image/png;base64, {{ beh_count_graph | safe}}">
    {% endif %}
  </div>
<br>



<br>



{% if multiple_scater_plot_five  %}

<div class='container'>
  <img src="data:image/png;base64, {{ multiple_scater_plot_five | safe}}">
</div>

{% elif multiple_scater_plot_four  %}

<div class='container'>
  <img src="data:image/png;base64, {{ multiple_scater_plot_four | safe}}">
</div>




{% elif multiple_scater_plot_three %}
<div class='container'>
  <img src="data:image/png;base64, {{ multiple_scater_plot_three | safe}}">
</div>
{% elif multiple_scater_plot_two %}
<div class='container'>
  <img src="data:image/png;base64, {{ multiple_scater_plot_two | safe}}">
</div>
{% elif multiple_scater_plot_one %}
<div class='container'>
  <img src="data:image/png;base64, {{ multiple_scater_plot_one | safe}}">
</div>
{% endif %} 

<br>

<div class='container'>
  <img src="data:image/png;base64, {{ pie_graph | safe}}">
</div>




<br>

<div class='container'>
  <img src="data:image/png;base64, {{ pie_anticedent_graph | safe}}">
</div>



<br>

<div class='container'>
  <img src="data:image/png;base64, {{ pie_function_graph | safe}}">
</div>
<br>



<div class='container'>
  <img src="data:image/png;base64, {{ pie_consequence_graph | safe}}">
</div>
<br>



<div class='container'>
  <img src="data:image/png;base64, {{ box_duration_graph | safe}}">
</div>

</div>
</body>
<style>
  body {
 background: white; 
  }
  img {
    border: 2px solid #555;
  }
  </style>
{% endblock %}