

{% extends 'partials/base.html' %} 
{% block content %}
<br>
<body>
  
  <div class="container text-center">

<div class="container">
  <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:dashboard' student.id %}">Dashboard</a>
  <br/>


  <div class='container'>
    {% if iheat_graph %}
    <img src="data:image/png;base64, {{ iheat_graph | safe}} ">
    {% endif %}
  </div>
<br>
  <div class="container">
    {% if iclustermap_graph %}
      <img src="data:image/png;base64, {{ iclustermap_graph | safe }}">
    {% endif %}
  </div>

  <br>

<br>
<div class='container'>
  <img src="data:image/png;base64, {{ box_graph_consequence | safe}}">
</div>
<br>
</div>


</div>
</body>
<style>
  body {
  background: white; 
  }
  img {
    border: 2px solid #555;
  }
  </style>
{% endblock %}