{% extends 'partials/base.html' %} 
{% block content %}
<title>EFBA</title>

  <br>
  <body>
    <div class="container text-center">
      <div class="container">
        <div class="nav-button">

        <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:dashboard' student.id %}">  <b> Dashboard</b></a>
      </div>
        <br/>
        
      
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        
      </li>
      <li class="page-item"><a class="page-link"  href="{% url 'bip:correlation' student.pk %}" class="card-link">Correlation</a></li>
      <li class="page-item"><a class="page-link"  href="{% url 'bip:pie_charts' student.pk %}" class="card-link">Pie Charts</a></li>
      <li class="page-item"><a class="page-link"  href="{% url 'bip:raw_data' student.pk %}" class="card-link">Data Tables</a></li>



      
      <li class="page-item">
        </a>
      </li>
    </ul>
  </nav>


      <div class="container">
        {% if iheat_graph %}
          <img src="data:image/png;base64, {{ iheat_graph | safe }}">
        {% endif %}
      </div>
      <br><br><br>

      <div class="container">
        {% if iclustermap_graph %}
          <img src="data:image/png;base64, {{ iclustermap_graph | safe }}">
        {% endif %}
      </div>
      <br><br>
    </div>
  </body>

  <style>
    .main-container {
      background: white;
      padding: 20px;
    }
    .nav-button {
      margin-bottom: 20px;
    }
    .btn-outline-info {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
    }
    .graph-container, .pie-charts, .box-graph {
      margin-bottom: 20px;
      text-align: center;
    }
    .chart-row {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
    }
    .chart-item {
      flex-basis: 45%;
    }
    img {
      max-width: 100%;
      border: 2px solid #555;
      padding: 5px;
    }
    @media (max-width: 768px) {
      .chart-row {
        flex-direction: column;
      }
      .chart-item {
        flex-basis: 100%;
      }
    }
    .title-container {
        margin-bottom: 20px;
      }
      .page-title {
        font-size: 28px;
        color: #333;
        font-weight: bold;
        border-bottom: 2px solid #555;
        display: inline-block;
        padding-bottom: 5px;
      }
  </style>
{% endblock %}