{% extends 'partials/base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<body>
  <title>EFBA</title>

  <div class="container my-4">
    <!-- Form Section -->
    <div class="form-section">
      <h1 class="text-center">Target Behavior</h1>
      <form method="POST" class="behavior-form">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <b>{{ form.behaviorincident | as_crispy_field }}</b>
          </div>
          <div class="col-12">
            <b>{{ form.behavior_definition | as_crispy_field }}</b>
          </div>
          <div class="col-12">
            <b>{{ form.intensity_definition | as_crispy_field }}</b>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
      </form>

      
    </div>

    <!-- Information Card -->
    <div class="card border mb-3">
      <div class="card-body">
        <h3>Examples of Observable and Measurable Behaviors:</h3>
        <ul class="behavior-list">
          <li><b>Non-Compliance:</b> Any instance in which the individual physically and/or verbally refuses to follow an instruction or a task.</li>
          <li><b>Hitting:</b> Any occurrence of making contact with any part of another person’s body with an open or closed hand.</li>
          <li><b>Verbal Aggression:</b> Any threat or comment directed towards others that indicates any form of physical harm (e.g., “I am going to throw you down the stairs!”).</li>
          <li><b>Eloping:</b> Being more than x feet away from a designated area (seat or rug) without adult permission for any duration of time.</li>
        </ul>
      </div>
    </div>
  </div>
</body>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #eef2f4; 

  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #container {
    margin: 30px auto;
    max-width: 800px;
    padding: 10px;
  }

  .form-wrap {
    background: #f8f9fa;
    padding: 15px 25px;
    color: #333;
    margin-top: 30px;
  }

  .form-wrap h1, .form-wrap p {
    text-align: center;
  }

  .form-wrap .form-group {
    margin-top: 5px;
  }

  .form-wrap .form-group label {
    display: block;
    color: #666;
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
  }

  .form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
  }

  .form-wrap button:hover {
    background: #37a08e;
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 5px;
  }

  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    padding: 15px;
    padding-left: 35px;
    padding-bottom: 1px;
  }

  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %}