{% extends 'partials/base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<body>
  <title>FBA/EDA</title>

  <div class="container my-4">
    <!-- Form Section -->
    <div class="form-section">
      <h1 class="text-center">Target Behavior</h1>
      <form method="POST" class="behavior-form">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <b>{{ form.behaviorincident | as_crispy_field }}</b>
          </div>
          <div class="col-12">
            <b>{{ form.behavior_definition | as_crispy_field }}</b>
          </div>
          <div class="col-12">
            <b>{{ form.intensity_definition | as_crispy_field }}</b>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
      </form>

      
    </div>

    <!-- Information Card -->
    <div class="card border mb-3">
      <div class="card-body">
        <h3>Examples of Observable and Measurable Behaviors:</h3>
        <ul class="behavior-list">
          <li><b>Non-Compliance:</b> Any instance in which the individual physically and/or verbally refuses to follow an instruction or a task.</li>
          <li><b>Hitting:</b> Any occurrence of making contact with any part of another person’s body with an open or closed hand.</li>
          <li><b>Verbal Aggression:</b> Any threat or comment directed towards others that indicates any form of physical harm (e.g., “I am going to throw you down the stairs!”).</li>
          <li><b>Eloping:</b> Being more than x feet away from a designated area (seat or rug) without adult permission for any duration of time.</li>
        </ul>
      </div>
    </div>
  </div>
</body>

<style>
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #eef2f4; 
      line-height: 1.6;
    }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 15px;
  }

  .form-section {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .form-section h1 {
    color: #333;
    margin-bottom: 15px;
  }

  .behavior-form {
    margin-top: 10px;
  }

  .behavior-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 10px;
  }

  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .behavior-list li {
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }
</style>

{% endblock %}