{% extends 'partials/base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<body>
  <title>FBA/EDA</title>

  <div class="container my-4">
    <!-- Form Section -->
    <div class="form-section">
      <h1 class="text-center">Consequence of Behavior</h1>
      <form method="POST" class="behavior-form">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <b>{{ form.behaviorconsequence | as_crispy_field }}</b>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
      </form>
    </div>
       <!-- Information Card -->
       <div class="card border mb-3">
        <div class="card-body">
          <h3>Examples of Observable and Measurable Consequences:</h3>
          <ul class="behavior-list">
            <li><b>Redirect</b> </li>
            <li><b>Attention</b> </li>
            <li><b>Ignore</b> </li>
            <li><b>Structured Choice</b> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</body>

<style>
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #eef2f4; 
      color: #505050;
      line-height: 1.6;
    }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 15px;
  }

  .form-section {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .form-section h1 {
    color: #333;
    margin-bottom: 15px;
  }

  .behavior-form {
    margin-top: 10px;
  }

  .behavior-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }
</style>

{% endblock %}