{% extends 'partials/base.html' %} 
{% block content %}

<br>
<div class="container my-4">
  <!-- Navigation Button -->
  <title>FBA/EDA</title>

  <div class="nav-button">
    <a class="btn btn-outline-info" href="{% url 'bip:create_incident' student.id %}"> <b> Log Behavior for {{student.studentname}}</b></a>
  </div>
  

<div class="row">
  <div class="col-md">
    <div class="card card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Create Form</h5>
        <p class="card-text">Must create Behavior, Antecedent, and Function  before Logging Behavior:</p>
              <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a  href="{% url 'bip:create_behavior' student.id %}" class="card-link">Behavior/</a><a href="{% url 'bip:edit_behavior' student.id %}" >Edit</a></li>
                      <li class="list-group-item"><a href="{% url 'bip:create_anticedent' student.id %}" class="card-link">Antecedent/</a><a href="{% url 'bip:edit_anticedent' student.id %}">Edit</a></li>
                      <li class="list-group-item"><a href="{% url 'bip:create_consequence' student.id %}" class="card-link">Consequence/</a><a href="{% url 'bip:edit_consequence' student.id %}">Edit</a></li>
                      <li class="list-group-item"><a  href="{% url 'bip:create_function' student.id %}" class="card-link">Function/</a><a  href="{% url 'bip:edit_function' student.id %}">Edit</a></li>
                      <li class="list-group-item"><a  href="{% url 'bip:create_setting' student.id %}" class="card-link">Setting</a>/<a  href="{% url 'bip:edit_setting' student.id %}">Edit</a></li> 
                      <li class="list-group-item"><a  href="{% url 'bip:student_profile' student.id %}" class="card-link">Case</a></li> 

                  
              </ul>
    </div>
  </div>
</div> 

 
  <div class="col-md">
    <div class="card card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Exploratory Data Analysis</h5>
        <p class="card-text"> Data Visualization and Data Analysis.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'bip:snapshot' student.id %}" class="card-link">Behavior</a></li>
        <li class="list-group-item"><a href="{% url 'bip:function' student.pk %}" class="card-link">Function</a></li>
        <li class="list-group-item"><a href="{% url 'bip:anticedent' student.pk %}" class="card-link">Antecedent</a></li>
        <li class="list-group-item"><a href="{% url 'bip:consequence' student.pk %}" class="card-link">Consequence</a></li>
        <li class="list-group-item"><a href="{% url 'bip:setting' student.pk %}" class="card-link">Setting</a></li>
        <li class="list-group-item"><a a href="{% url 'bip:chart' student.id %}" class="card-link">Statistics</a></li>  
       <li class="list-group-item"><a a href="{% url 'bip:filter_data' student.id %}" class="card-link">Data Analysis</a></li>  

       <li class="list-group-item"><a a href="{% url 'bip:raw_data' student.id %}" class="card-link">Data Tables</a></li>  

      </ul>
   
 
    </div>
  </div> 

  <div class="col-md">
    <div class="card card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Overview</h5>
        <p class="card-text">Download data as csv file for excel, numbers, google sheet; Assign a data collector to the case.</p>
      </div>
      {% comment %} <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#" class="card-link">Visual Spreadsheet</a></li> {% endcomment %}
        <li class="list-group-item"><a href="{% url 'bip:export' student.id %}" class="card-link">Download Spreadsheet</a></li>
        <!-- <li class="list-group-item"><a href="{% url 'bip:upload_options' student.id %}" class="card-link">Upload CSV file</a></li> -->

    
       <li class="list-group-item"><a  href="{% url 'bip:assign_data_entry' student.id %}">Add Data Collector</a></li> 
      </ul>
    
    </div>
  </div>
</div>


{% comment %} Use this for html of form below {% endcomment %}
<br>
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-striped">
        <tr>
          <th>Behavior (Frequency)</th>
          <th>Antecedent</th>
          <th>Consequence</th>
          <th>Function</th>
          {% if student_enviroment %}

          <th>Setting</th>
          {% endif %}


          <th>Intensity</th>
          
          {% if student_time %}

        <th>Time</th>
        {% endif %}


        {% if student_duration %}

        <th>Duration (Min:Sec)</th>
        {% endif %}

        <!-- Display the duration value here -->
          <th>Date</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for incident in student_behaviors %}
        <tr>
    
          <td>{{incident.behavior }}({{incident.frequency }})</td>
          <td>{{incident.anticedent}}</td>
          <td>{{incident.consequence}}</td>
          <td>{{incident.function}}</td>
          {% if incident.enviroment%}
          <td>{{incident.enviroment}}</td>
          {% endif %}
          {% if incident.intensity %}
          <td>{{incident.intensity}}</td>
          {% endif %}
          {% if incident.time %}
          <td>{{incident.time}}</td>
          {% endif %}


          

          {% if incident.duration%}
          <td>{{incident.time_change}}</td>
          {% endif %}

          <td>{{incident.date_created|date:'m-d-Y'}}</td> 

          <td> <a class="btn btn-warning" href="{% url 'bip:updatepost' pk=incident.pk student_id=incident.student_id %}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg></a></td> 



          <td> <a class="btn btn-danger" href="{% url 'bip:delete_post' pk=incident.pk  %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg></a></td>  
           
           {% endfor%}

        </tr>
      </table>
    </div>
  </div>
</div>




</div>

<style>
     body {
      font-family: 'Roboto', sans-serif;
      background-color: #f0f0f0; /* Updated to gray background */
      color: #505050;
      line-height: 1.6;
    }
  .container {
    max-width: 1000px;
    margin: auto;
  }
/* 
  .container {
    max-width: 1200px; 
    margin: auto;
    padding: 15px;
  } */

  .nav-button {
    margin-bottom: 20px;
  }
  .btn-outline-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }

  

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    color: #333;
  }

  .card-link {
    color: #007bff;
  }

  .table {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  }
  @media (max-width: 768px) {
    .chart-row {
      flex-direction: column;
    }
    .chart-item {
      flex-basis: 100%;
    }
  }
</style>

{% endblock %}
