

{% extends 'partials/base.html' %} 
{% block content %}
<br>

<body style="background-color: #f0f0f0;"> <!-- Adding a gray background color here -->
  <div class="container">
    <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:data_entry_input' student.id %}">Dashboard</a>
    <br/>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="white-box">
          <div class="stat-item">{{ table_df | safe }}</div>
        </div>
      </div>
    </div>
  </div>
  
</body>

<style>
   .white-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .btn-outline-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-container {
    background: white;
    padding: 20px;
  }
  .nav-button {
    margin-bottom: 20px;
  }
  .btn-outline-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .graph-container, .pie-charts, .box-graph {
    margin-bottom: 20px;
    text-align: center;
  }
  .chart-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .chart-item {
    flex-basis: 45%;
  }
  img {
    max-width: 100%;
    border: 2px solid #555;
    padding: 5px;
  }
  @media (max-width: 768px) {
    .chart-row {
      flex-direction: column;
    }
    .chart-item {
      flex-basis: 100%;
    }
  }

  .title-container {
      margin-bottom: 20px;
    }
  .page-title {
      font-size: 28px;
      color: #333;
      font-weight: bold;
      border-bottom: 2px solid #555;
      display: inline-block;
      padding-bottom: 5px;
    }
</style>

{% endblock %}