

{% extends 'partials/base.html' %} 
{% block content %}
<br>
<body> 
  <div class="container text-center">

<div class="container">
  <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:data_entry_input' student.id %}">Dashboard</a>
  <br/>

  <div class="container" >
    <img src="data:image/png;base64, {{ bar_graph | safe }}">
  </div>
  <br>


  <br>
</div>

</div>
</body>
<style>
  body {
    {% comment %} background: white; {% endcomment %}
  }
  img {
    border: 2px solid #555;
  }
  </style>
{% endblock %}