


{% extends 'partials/base.html' %} {% block content %}
<br><br>
<title>EFBA</title>

<div class="container">
<div class ="row">
      <div class="card card-body">

<h2>
    <p> Are you sure you want to <b>DELETE</b> this Setting: <b>{{item}}</b>  </p>
    <p> <h4> <i> *Do not delete this Setting if you have submitted <b>{{ item }}</b> in the FBO form. It will cause erros in your data. </i></h4></p>



    <form action="{% url 'bip:delete_setting' item.id %}" method="POST">
      
      {% csrf_token %}


    <input class="btn btn-danger" type="submit" name="Confirm">  </h1>

   </form>

    </div>

</div>

</div>

<style>
  body {
font-family: 'Roboto', sans-serif;
background-color: #eef2f4; 
color: #505050;
line-height: 1.6;
}

.container {
max-width: 1000px;
margin: auto;
}
/* 
.container {
 max-width: 1200px; 
 margin: auto;
 padding: 15px;
} */

.nav-button {
 margin-bottom: 20px;
}
.btn-outline-info {
 width: 100%;
 padding: 10px;
 margin-bottom: 20px;
}



.btn-primary {
 background-color: #007bff;
 border-color: #007bff;
}

.card {
 margin-bottom: 20px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
 color: #333;
}

.card-link {
 color: #007bff;
}

.table {
 margin-top: 20px;
}

@media (max-width: 768px) {
 .container {
   padding: 15px;
 }
}
@media (max-width: 768px) {
 .chart-row {
   flex-direction: column;
 }
 .chart-item {
   flex-basis: 100%;
 }
}
</style>

{% endblock %}
