


{% extends 'partials/base.html' %} {% block content %}

{% load custom_filters %}
<br><br>

<div class="container">
<div class ="row">
      <div class="card card-body">

<h2>
    <p> Are you sure want to delete this incident:  {{incident.behavior}} on  {{incident.date_created}}?</p>


    <form action="{% url 'bip:delete_post' incident.id %}" method="POST">
      
      {% csrf_token %}

      {% if user|is_case_manager %}

      <a  class="btn btn-warning" href="{% url 'bip:dashboard' incident.student.pk %}">Cancel</a>
      {% endif %}

    <input class="btn btn-danger" type="submit" name="Confirm">


    
   </form>

  </div>

</div>

</div>



{% endblock %}
