
{% extends 'partials/base.html' %} 
{% block content %}

<title>Form (FBA/EDA)</title>
<body>
  <div id="container" >
    <div class="form-wrap" >
      <h1>
        Functional
        <a data-toggle="popover" data-placement="left" title="<b>Definitions</b>" data-html="true" 
           data-content="
           {% for behavior in unique_behaviors %}
           <b> {{ behavior.behaviorincident }} </b>- {{ behavior.behavior_definition }}<br>
           {% endfor %}
           ">
          <span style="color: blue;">Behavior</span>
        </a>
        Observation Form
      </h1>

        <form method="POST" class"card p-3 mt-5"autocomnplete="off">
          <table border="3" class='center' style='font-family: Courier, monospace; font-size:125%'>
          {% csrf_token %}
                <tr>
                    <th>{{ form }}</th>  
                </tr>
          </table>
               <button type="submit" class="btn btn-success">Submit </button>
      </form>
    </div>
  </div>
 
</body>

<!--         
        <a data-toggle="tooltip" data-placement="left" data-html="true" title="<div class='tooltip-left'>
          <ul>
              {% for behavior in unique_behaviors %}
                  <li>{{ behavior.behaviorincident }} - {{ behavior.behavior_definition }}</li> <br>
              {% endfor %}
          </ul>
      </div>">
          <label for="{{ form.behavior.id_for_label }}" style="color: blue;">Behavioral</label> -->
     


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"></script>
<script>
// Init Popover
$('[data-toggle="popover"]').popover();

function showPopover() {
  $('#hello').popover('show');
}

function hidePopover() {
  $('#hello').popover('hide');
}

function togglePopover() {
  $('#hello').popover('toggle');
}

// Popover events
$('#hello').on('show.bs.popover', function () {
  console.log('Popover show');
});

$('#hello').on('shown.bs.popover', function () {
  console.log('Popover shown');
});

$('#hello').on('hide.bs.popover', function () {
  console.log('Popover hide');
});

$('#hello').on('hidden.bs.popover', function () {
  console.log('Popover hidden');
});
</script>
<style>

body {
      font-family: 'Roboto', sans-serif;
      background-color: #f0f0f0; /* Updated to gray background */
      color: #505050;
      line-height: 1.6;
    }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }




  a {
    text-decoration: none;
  }

  #container {
    margin: 30px auto;
    max-width: 800px;
    
    padding: 10px;
  }

  .form-wrap {
    background: #fff;
    padding: 15px 25px;
    color: #333;
    margin-top: px;
  }

  .form-wrap h1,
  .form-wrap p {
    text-align: center;
  }

  .form-wrap .form-group {
    margin-top: 5px;
  }

  .form-wrap .form-group label {
    display: block;
    color: #666;
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
  }

  .form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
  }
  .blue-text {
    color: blue;
}
  .form-wrap button:hover {
    background: #37a08e;
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 5px;
  }

  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  table  {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 15px;
    padding-left: 35px;
    padding-bottom: 1px;

  }
  
  @media (max-width: 768px) {
  .chart-row {
    flex-direction: column;
  }
  .chart-item {
    flex-basis: 100%;
  }
}

/* 
@media (max-width: 720px) {
 .container {
   padding: 15px;
 }
} */

@media (max-width: 768px) {
 .container {
   padding: 0px;
 }
}


.tooltip-left {
            text-align: left;
        }
</style>
  {% endblock %}