{% extends 'partials/base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-4">
  <title>EFBA</title>

  <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:dashboard' student.id %}">Dashboard ({{student.studentname}})</a>
  <br>
  <div class="text-center mb-4">
    <h3>Filter Data</h3>
  </div>
  <div class="card">
    <div class="card-body">
  <form method="GET" action="." class="filter-form">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="behavior">Behavior</label>
        <select id="behavior" class="form-control" name="behavior">
          <option selected>Choose Behavior</option>
          {% for beh in behaviorset %}
          <option value="{{ beh }}">{{ beh }}</option>
          {% endfor %}
        </select>
      </div> 

      <div class="form-group col-md-2">
        <label for="anticedent">Antecedent</label>
        <select id="anticedent" class="form-control" name="anticedent">
          <option selected>Choose Antecedent</option>
          {% for ant in anticedentset %}
          <option value="{{ ant }}">{{ ant }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="consequence">Consequence</label>
        <select id="consequence" class="form-control" name="consequence">
          <option selected>Choose Consequence</option>
          {% for con in consequenceset %}
          <option value="{{ con }}">{{ con }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="function">Function</label>
        <select id="function" class="form-control" name="function">
          <option selected>Choose Function</option>
          {% for func in functionset %}
          <option value="{{ func }}">{{ func }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2 col-lg-2">
        <label for="publishDateMin">Publish Date Minimum</label>
        <input type="date" class="form-control" id="publishDateMin" name="date_min">
      </div>
      <div class="form-group col-md-2 col-lg-2">
        <label for="publishDateMax">Publish Date Maximum</label>
        <input type="date" class="form-control" id="publishDateMax" name="date_max">
      </div>
    </div>
    <button type="submit" class="btn btn-success btn-filter">Filter</button>
  </form>

  </div>
</div>

  <div class="query-count text-center my-4">
    <h4>Count Query: <b>{{ qs_count }}</b> / {{ total_beh }}</h4>
    <p>{{ beh_devide|floatformat:1 }}% of all behaviors</p>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <tr>
              <th>Behavior</th>
              <th>Antecedent</th>
              <th>Consequence</th>
              <th>Function</th>
              <th>Date</th>
            </tr>
            {% for attributes in queryset %}
            <tr>
              <td>{{ attributes.behavior }}</td>
              <td>{{ attributes.anticedent }}</td>
              <td>{{ attributes.consequence }}</td>
              <td>{{ attributes.function }}</td>
              <td>{{ attributes.date_created|date:'m-d-Y' }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0; /* Updated to gray background */
    color: #505050;
    line-height: 1.6;
  }

  .container {
    max-width: 1200px; /* Increased the maximum width */
    margin: auto;
    padding: 15px;
  }

  .filter-form .form-row {
    margin-bottom: 15px;
  }

  .form-group {
    margin-right: 10px;
  }

  .btn-filter {
    margin-top: 20px;
    width: 100%;
  }

  .query-count h4, .query-count p {
    margin: 5px 0;
  }

  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .table {
    margin-top: 20px;
  }

  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  @media (max-width: 768px) {
    .chart-row {
      flex-direction: column;
    }
    .chart-item {
      flex-basis: 100%;
    }
  }

  .btn-outline-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
</style>
{% endblock %}
