{% extends 'partials/base.html' %}
{% block content %}

<body>
  <title>Function Analysis (FBA/EDA)</title>
  <div class="container text-center">

  <br>
  <div class="container">
    <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:dashboard' student.id %}">Dashboard ({{student.studentname}})</a>
    <br/>
    <div class="title-container">
      <h2 class="page-title">Function Analysis</h2>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
      </li>
      <li class="page-item"><a class="page-link" href="{% url 'bip:contingency_view' student.pk %}" class="card-link">Data Table</a></li>
      <li class="page-item">
      </li>
    </ul>
  </nav>
  <br>

  <div id="box-plot" class="graph-container">
    <img src="data:image/png;base64,{{ box_graph_function }}" alt="Box Plot">
  </div>

  <h2>Pie Charts of Function Proportions</h2>
  <div class="pie-charts">
    {% for behavior, pie_chart in pie_charts.items %}
      {% if forloop.counter0|divisibleby:2 %}
      <div class="chart-row">
      {% endif %}
      <div class="chart-item">
        <h3>{{ behavior }}</h3>
        <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart for {{ behavior }}">
      </div>
      {% if forloop.counter|divisibleby:2 or forloop.last %}
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <br><br>

</body>

<style>
  .main-container {
    background: white;
    padding: 20px;
  }
  .nav-button {
    margin-bottom: 20px;
  }
  .btn-outline-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .graph-container, .pie-charts, .box-graph {
    margin-bottom: 20px;
    text-align: center;
  }
  .chart-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .chart-item {
    flex-basis: 45%;
  }
  img {
    max-width: 100%;
    border: 2px solid #555;
    padding: 5px;
  }
  @media (max-width: 768px) {
    .chart-row {
      flex-direction: column;
    }
    .chart-item {
      flex-basis: 100%;
    }
  }
  .title-container {
    margin-bottom: 20px;
  }
  .page-title {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #555;
    display: inline-block;
    padding-bottom: 5px;
  }
  .table-container {
    display: flex;
    justify-content: center;
  }
  table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  table, th, td {
    border: 1px solid #dddddd;
  }
  th, td {
    padding: 12px;
    background-color: #f2f2f2;
  }
  th {
    background-color: #f2f2f2;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
</style>
{% endblock %}