
{% extends 'partials/base.html' %} 
{% block content %}

<div class="class container">

    <br><br><br>

    <p><h1><i>Hello,</i></h1></p>
<p>

<h1> <i> 

    I have been working as an educational school psychologist for the better part of two decades. 
     I have had the fortune of problem solving  wih the most vulnerable and resilient of 
     our population, including children with various challenges from intellectual, emotional 
     and/or behavioral.  This website was created with my interest in computer programming,
     data analysis, and school psychology.  The goal of this website is to assist practitioners 
    in developing a legally defensible FBA that will support a data-driven Behavior
    Intervention Plan that is effective and  meaningful.  </h1></p>

    <p>    </i><h1><i> Dedicado a mi familia, 
     
    
                
        
       </p></h1></i>
       <p>    </i><h1><i> 
     
        Papa
                
        
       </p></h1></i>
    </div>
{% endblock %}
