
{% extends 'partials/base.html' %} 
{% block content %}
<title>EFBA</title>

<div class="class container">

    <br><br><br>

    <p><h1><i>About me,</i></h1></p>
<p>

<h1> <i> 

    I have been working as an educational school psychologist for the better part of two decades. 
     I have had the fortune of problem solving  wih the most vulnerable and resilient of 
     our population, including children with various challenges from intellectual, emotional 
     and/or behavioral.  This website was created with my interest in computer programming,
     data analysis, and school psychology. 
     The goal of this website is to assist practitioners 
    in developing FBA's that will support data-driven Behavior
    Intervention Plans that are effective and  meaningful.  </h1></p>

    
    <p>    </i><h1><i> Kristian Gonzalez, M.A., Ed.S
       </p>
       <br>
       <p><h3>*I developed both the front-end and the backend-end of the website and there is no third party involvment. Questions, suggestions or inquiries: <a href="mailto:exploratoryfba@gmail.com" > Contact Email</a></h3></p>
      
    </div>
{% endblock %}
