
 
{% extends 'partials/base.html' %} 
{% block content %}

<body>
 
<br>
<div class="container text-center">

<a class="btn btn-outline-info btn-sm btn-block" href="{% url 'bip:dashboard' student.id %}"
>Dashboard</a>

<br>
<div class="container">

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-striped">
            <tr>
              <th>Name</th>
              <th>Unique Identification</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
           
            <tr>
            <td>{{student.studentname }}</td>
            <td>{{student.slug }}</td>
           
           <td><a class="btn btn-warning" href="{% url 'bip:update_student' student.id%}">Update</a></td> 

            <td><a class="btn btn-danger" href="{% url 'bip:delete_student' student.id %}">Delete?</a></td> 
          </tr> 
     
 
  </div>
</div>
</div>

<br>
 
</body>

<style>
  .main-container {
    background: white;
    padding: 20px;
  }
  .nav-button {
    margin-bottom: 20px;
  }
  .btn-outline-info {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .graph-container, .pie-charts, .box-graph {
    margin-bottom: 20px;
    text-align: center;
  }
  .chart-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .chart-item {
    flex-basis: 45%;
  }
  img {
    max-width: 100%;
    border: 2px solid #555;
    padding: 5px;
  }
  @media (max-width: 768px) {
    .chart-row {
      flex-direction: column;
    }
    .chart-item {
      flex-basis: 100%;
    }
  }
  .title-container {
      margin-bottom: 20px;
    }
    .page-title {
      font-size: 28px;
      color: #333;
      font-weight: bold;
      border-bottom: 2px solid #555;
      display: inline-block;
      padding-bottom: 5px;
    }
</style>



{% endblock %}


