{% extends 'partials/base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div id="container">
  <div class="form-wrap">
    <h1>Update Behavior</h1>

    <form method="POST">
      {% csrf_token %}
      <div class='row'>
        <div class='col-6'><b>{{ form.behaviorincident | as_crispy_field }}</b></div>
        <div class='col-12'><b>{{ form.behavior_definition | as_crispy_field }}</b></div>
        <div class='col-12'><b>{{ form.intensity_definition | as_crispy_field }}</b></div>

      </div>
      <button class="btn btn-success" type="submit" style='width:90px'>Submit</button>
    </form>
  </div>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #container {
    margin: 30px auto;
    max-width: 800px;
    padding: 10px;
  }

  .form-wrap {
    background: #f8f7f7; /* Light gray background */
    padding: 15px 25px;
    color: #333;
    margin-top: 30px;
  }

  .form-wrap h1, .form-wrap p {
    text-align: center;
  }

  .form-wrap .form-group {
    margin-top: 5px;
  }

  .form-wrap .form-group label {
    display: block;
    color: #666;
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
  }

  .form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
  }

  .form-wrap button:hover {
    background: #37a08e;
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 5px;
  }

  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    padding: 15px;
    padding-left: 35px;
    padding-bottom: 1px;
  }

  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %}
