{% extends 'partials/base.html' %}

{% block content %}
<br><br><br><br><br>
  <title>User Account</title>

    <div class="container">
      <h1>User Account</h1>
      <h1>
        <button class="delete-button" onclick="window.location.href='{% url 'bip:delete_user' user.id %}';">
          <i class="fas fa-user-slash delete-icon"></i> Delete User
        </button>
      </h1>
    </div>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #eef2f4; 
    }
  
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
    .container {
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  
    .delete-button {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #fff;
      background-color: #dc3545;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      transition: background-color 0.2s;
      text-decoration: none; /* Removes underline from icons or text */
      display: inline-flex; /* Aligns icon and text */
      align-items: center; /* Centers items vertically */
      justify-content: center; /* Centers items horizontally */
    }
  
    .delete-button:hover, .delete-button:focus {
      background-color: #c82333;
      outline: none; /* Removes the outline to maintain a clean look */
    }
  
    .delete-icon {
      font-size: 20px; /* Adjust size as needed */
      vertical-align: middle;
      margin-right: 8px; /* Space between icon and text */
    }
  
    @media (max-width: 768px) {
      .container {
        padding: 15px;
      }
    }
  </style>
  {% endblock %}