{% extends 'partials/base.html' %}

{% block content %}

  <title>User Account</title>
  
<body>
  <div class="container">
    <h1>User Account</h1>
    <h1>
      <a class="delete-link" href="{% url 'bip:delete_user' user.id%}">
        <i class="fas fa-user-slash delete-icon"></i> Delete User
      </a>
    </h1>
  </div>
</body>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #eef2f4; 

  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #container {
    margin: 30px auto;
    max-width: 800px;
    padding: 10px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .delete-icon {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
  a.delete-link {
    text-decoration: none;
    color: #dc3545;
  }

 
 
 

  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

 

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }
</style>
<!-- 
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  a.delete-link {
    text-decoration: none;
    color: #dc3545;
  }

  a.delete-link:hover {
    text-decoration: underline;
  }

  .delete-icon {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }

</style> -->
{% endblock %}